import /init.recovery.qcom_decrypt.rc

on init
    # Don't lose recovery logs- keep warm reset for coming out of recovery.
    write /sys/module/msm_poweroff/parameters/warm_reset 1

    # Enable thermal mitigation
    write /sys/devices/virtual/thermal/tz-by-name/backup-charge/mode enabled
    
    start touchdriver

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    start health-hal-2-0
    start vibrator.barbet

on post-fs
    start boot-hal-1-1

service touchdriver /system/bin/touchdriver.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service vibrator.barbet /system/bin/android.hardware.vibrator-service.barbet
    setenv PROPERTY_PREFIX ro.vendor.vibrator.hal.
    setenv HWAPI_PATH_PREFIX /sys/class/leds/vibrator/
    setenv HWAPI_DEBUG_PATHS "
        device/autocal
        device/lp_trigger_effect
        device/ol_lra_period
        state
        "
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    user root
    group root
    seclabel u:r:recovery:s0